body {
  max-width: 600px;
  margin:  auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 00px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;

}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
  margin-right: 10px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 225px;
  /* CHANGE ME */
  padding: 32px;
  margin-left: 300px;
  
}