.first{
    background-color: black;
    color: white;
}

.second{
    background-color: yellow;
}

.second, .first {
    font-size: 28px;
    font-family: helvetica, 'Times New Roman', sans-serif;

}